html, body {
    height: 100%
}

#game-screen {
    width: 70%;
    margin: 0 auto;
}

#debug-panel {
    display: inline-block;
    width: 25%;
    height: 100%;
    float: right;
    padding: 10px;
    background-color: #2c2c2c;
    color: #cccccc;
}

#debug-title {
    text-align: center;

}

.debug-button {
    background-color: #374e0c;
}

canvas { border: 1px solid black; }